/* ============================================
                    fonts awesome
===============================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ============================================
                    Common Style
===============================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(240, 240, 240);
}

.container {
    max-width: 1200px;
    margin: 30px;
    padding: 0 30px;
}

.primary {
    outline: 0;
    border: 0;
    padding: 15px 20px;
    background-image: linear-gradient(90deg, #E02C6D, #ff80be);
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
}

/* =================================================================
                        navbar Style
========================================================================*/
nav {
    display: flex;
    justify-content: space-between;
    top: 80px;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
    margin: 10px;
}

.navigation li a {
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 600;
    padding: 15px 10px;
}

#nav-toggler {
    display: none;
}

.nav-toggler-icon {
    display: none;
    color: #1d1d1d;
    font-size: 14px;
}

/* ========================================================================
                            Banner style
============================================================================*/
.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.banner-left h1 {
    font-size: 52px;
    color: #1d1d1d;
}

.banner-left p {
    color: #1d1d1d;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}

.banner-right img {
    width: 100%;
}

/* ===================================================
                    Main part style
========================================================*/
h1 {
    text-align: center;
}

.height {
    line-height: 100px;
}

.parts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.part {
    background-color: #fff;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
}

.part .part-banner img {
    width: 200px;
    height: 156px;
}

.parts-info {
    display: flex;
    align-items: center;
}

.author a {
    float: right;
    margin-right: 27px;
    text-decoration: none;
    color: #E02C6D;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FB8200;
}

.fa-star.empty {
    color: #aeaeae;
}

/* =============================================
                Feature style 
==================================================*/
.feature {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.card {
    width: 300px;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 0 30px 35px rgba(0, 0, 0, .2);
}

.card .card-icon {
    background-color: #1d1d1d;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 7px;
    color: #fff;
}

.card h3 {
    color: #1d1d1d;
    font-size: 25px;
}

.card p {
    margin: 10px 0;
    line-height: 1.5;
}

.card a {
    text-decoration: none;
    color: #E02C6D;
}


/* =============================================
                footer style 
====================================================*/
.last-child {
    text-align: center;
    width: 100%;
    margin-top: 80px;
    padding: 30px;
    background-color: rgb(3, 15, 37);
    color: #fff;
}

.social-link {
    font-size: 20px;
    line-height: 70px;
    margin-left: 15px;
    margin-top: 20px;
    padding: 5px;
    border: 2px solid #a38b8ba8;
    border-radius: 50%;
    color: #fff;
}

/* ====================================================================================================================
                                            responsive css 
==========================================================================================================================*/
/* ================================================
                Tab Responsive 
===================================================*/
@media screen and (max-width:980px) {

    .parts,
    .banner,
    .feature {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-toggler-icon {
        display: block;
    }

    .navigation {
        position: absolute;
        top: 80;
        margin: 30px;
        right: 0;
        width: 50%;
        flex-direction: column;
        align-items: center;
        background-color: #eeebeba1;
        padding: 20px 0;
        transform: translateY(-330px);
        transition: .5s ease-in-out;
    }

    #nav-toggler:checked~.navigation {
        transform: translateY(0);
    }
}

/* ================================================
                Mobile Responsive 
===================================================*/
@media screen and (max-width:668px) {

    .parts,
    .banner,
    .feature {
        grid-template-columns: repeat(1, 1fr);
    }

    .part {
        margin-left: 50px;
    }

    .primary {
        margin-left: 50px;
    }

    .navigation {
        position: absolute;
        top: 80;
        margin: 30px;
        right: 0;
        width: 50%;
        flex-direction: column;
        align-items: center;
        background-color: #eeebeba1;
        padding: 20px 0;
        transform: translateY(-330px);
        transition: .6s ease-in-out;
    }

    #nav-toggler:checked~.navigation {
        transform: translateY(0);
    }
}