/* ============================================
                    fonts awesome
===============================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ============================================
                    Common Style
===============================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(240, 240, 240);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.primary {
    outline: 0;
    border: 0;
    padding: 15px 20px;
    background-image: linear-gradient(90deg, #E02C6D, #ff80be);
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
}

/* =================================================================
                        navbar Style
========================================================================*/
nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
    margin: 10px;
}

.navigation li a {
    text-decoration: none;
    color: #1d1d1d;
}

/* ========================================================================
                            Banner style
============================================================================*/
.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-left h1 {
    font-size: 52px;
    color: #1d1d1d;
}

.banner-left p {
    color: #1d1d1d;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}


.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-right {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.banner-right img {
    width: 80%;
}

/* ===================================================
                    Main part style
========================================================*/
h1 {
    text-align: center;
}

.height {
    line-height: 100px;
}

.parts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 5px;
}

.part {
    background-color: #fff;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
}

.part .part-bannere img {
    width: 200px;
    height: 156px;
}

.parts-info {
    display: flex;
    align-items: center;
}

.author a {
    float: right;
    text-decoration: none;
    color: #E02C6D;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FB8200;
}

.fa-star.empty {
    color: #aeaeae;
}

/* =============================================
                footer style 
====================================================*/
.last-child {
    text-align: center;
    margin-top: 80px;
    padding: 30px;
    background-color: #1d1d1d;
    color: #fff;
}